      <h2 name="alignment">Alignment:</h2><br>
        <label class="radio">
        <input type="radio" name="alignment" value="good">
        good
        </label>
         <label class="radio">
        <input type="radio" name="alignment" value= 
        "neutral">
        neutral
        </label>
         <label class="radio">
        <input type="radio" name="alignment" value="evil">
        evil
        </label>