      <h2 name="alignment">Alignment:</h2><br>
        <label class="radio">
        <input type="radio" name="good" value={{alignment}}>
        good
        </label>
         <label class="radio">
        <input type="radio" name="neutral" value= 
        {{alignment}}>
        neutral
        </label>
         <label class="radio">
        <input type="radio" name="evil" value={{alignment}}>
        evil
        </label>