      <h2 name="energy">Energy Level: High</h2><br>
        <label class="radio">
        <input type="radio" name="high" value={{energy}}>
        High
        </label>
         <label class="radio">
        <input type="radio" name="medium" value={{energy}}>
        Medium
        </label>
         <label class="radio">
        <input type="radio" name="low" value={{energy}}>
        Low
        </label>