
<!-- CONTAINERS FOR PROFILE SUMMARY-->
      <div class="container">
  <!-- PROFILE SUMMARY PARTIAL BELOW HERE-->
            <div class="row">
                <div class="col-2"></div>
              <div class="col-8 profile-summary">

                <div class="col1"></div>
                <div class="col10">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDTIn2eltdmlWhDEHOIKEtSD6Ks1AoiBIDFQeY3pst0UIlPHzT" class="profile-img">
                    <br>
                    Name: Test Person<br>
                    Energy Level: High<br>
                    Alignment: Good<br>
                </div>
                <div class="col1"></div>
              </div>
              <div class="col-2"></div>
          </div>
  <!-- PROFILE SUMMARY END HERE-->
        </div>