{{#if message}}
  <p>No profiles found that match that search!</p>
{{/if}}

<h2>Filter by energy:</h2>

<a href="/filter/energy/high">high</a>
<a href="/filter/energy/medium">medium</a>
<a href="/filter/energy/low">low</a>

<h2>Filter by alignment:</h2>

<a href="/filter/alignment/evil">evil</a>
<a href="/filter/alignment/neutral">neutral</a>
<a href="/filter/alignment/good">good</a>

