<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2 name="name" value={{name}}>Name: Test Person</h2><br>
        <h2>Energy Level: High</h2><br>
        <h2>Alignment: Good</h2><br>
      </div>
      <div class="col-sm-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDTIn2eltdmlWhDEHOIKEtSD6Ks1AoiBIDFQeY3pst0UIlPHzT" class="profile-img-main">
        <br>
        Upload Image here: <form>Paste URL here</form>
    </div>
    </div>
</div>
<br>
